{% extends "base.html" %}

{% block html_title %}
GC-Bridge 2 - Bestellungen
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
{% endblock %}


{% block h1 %}
<a class="text-decoration-none link-light" href="{{ url_for('bridge_order_views.orders') }}">
    <h1 class="mb-5 position-relative">
        <span class="fa-solid fa-truck-fast"></span> Bestellungen
        <small>
            <span class="badge bg-primary-subtle p-2 ">{{ orders | length }}</span>
        </small>
    </h1>
</a>
{% endblock %}

{%  block body %}

<div id="vapp_orders" class="row">
    <div class="col m-2 p-2 border border-success border-opacity-25 rounded">
        <h5>Holen</h5>
        <button class="btn btn-sm btn-outline-success" @click="api_orders_sw6_get_open_ids">Bestellungen abrufen</button>

        {% include '_includes/_toast.html' %}

        {% include '_includes/_progress.html' %}


    </div>
    <div class="col m-2 p-2 border border-success border-opacity-25 rounded">
        <h5>Anzeigen</h5>
        {% set url = '/orders' %} {% set button_text = 'Bestellungen filtern' %}
        {% set start_date=filter_start_date %} {% set end_date=filter_end_date %}
        {% include 'bridge/order/_includes/_start_end_date_form.html' %}

    </div>
</div>

<div id="vapp_orders_actions" class="row mt-4">
    <div class="row">
        {% for order in orders %}
            {% if order.customer %}
                <!-- Start Accordion Order Wrapper -->
                <div class="accordion accordion-flush">
                    <!-- Accordion Item Order No. {{ order.id }} -->
                    {% include 'bridge/order/_includes/order_item.html' with context %}
                </div>
            <!-- End Accordion Order Wrapper -->
            {% else %}
                <p>Bestellung {{order.id}} | {{order.order_number}} hat keinen Kunden. Zuweisung fehlgeschlagen</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block body_close %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bridge/orders/vapp_orders.js') }}"></script>
<script src="{{ url_for('static', filename='js/bridge/orders/vapp_orders_actions.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/toastPlugin.js')}}"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        app_orders.use(ToastPlugin);
        app_orders_actions.use(ToastPlugin);
        const mountedAppOrders = app_orders.mount('#vapp_orders');
        const mountedAppOrdersActions = app_orders_actions.mount('#vapp_orders_actions');
    });
</script>
{% endblock %}

