<div class="col box" data-mjml-id="view_online">
    <button class="delete-button">x</button>
    View Online
</div>

<div class="col-12 box" data-mjml-id="header_logo">
    Header Logo
</div>

<div class="col-12 box" data-mjml-id="subheader">
    Subheader
</div>

<div class="col-12 box" data-mjml-id="salutation">
    Salutation
</div>

<div class="col-12 box" data-mjml-id="disclaimer">
    Disclaimer
</div>

<div class="col-12 box" data-mjml-id="head">
    Head
</div>

<div class="col-12 box" data-mjml-id="order_form_product">
    Order Form Product
</div>

<div class="col-12 box" data-mjml-id="contact_table_green">
    Contact Table Green
</div>


<div class="col-12 box" data-mjml-id="header_acryl_logo">
    Header Acryl Logo
</div>

<div class="col-12 box" data-mjml-id="contact_table">
    Contact Table
</div>

<div class="col-12 box" data-mjml-id="product_green">
    Product Green
</div>

<div class="col-12 box" data-mjml-id="nav_items_shop_green">
    Nav Items Shop Green
</div>

<div class="col-12 box" data-mjml-id="blog_acymailing">
    Blog Acymailing
</div>

<div class="col-12 box" data-mjml-id="nav_items_shop">
    Nav Items Shop
</div>

<div class="col-12 box" data-mjml-id="subheader_green">
    Subheader Green
</div>

<div class="col-12 box" data-mjml-id="certs_logo_green">
    Certs Logo Green
</div>

<div class="col-12 box" data-mjml-id="product">
    Product
</div>

<div class="col-12 box" data-mjml-id="styles">
    Styles
</div>

<div class="col-12 box" data-mjml-id="title_img">
    Title Img
</div>

<div class="col-12 box" data-mjml-id="order_form_product_green">
    Order Form Product Green
</div>

<div class="col-12 box" data-mjml-id="title_txt">
    Title Txt
</div>

<div class="col-12 box" data-mjml-id="head_green">
    Head Green
</div>

<div class="col-12 box" data-mjml-id="header_logo">
    Header Logo
</div>