{% extends "base.html" %}
{% block html_title %} GC-Bridge - Category {{ category.get_translation().get_name() }} {% endblock %}
{% block h1 %} {{ category.get_translation().get_name() }} {% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div id="vue_bridge_categories_category">
        <div class="row">

            <div class="col">
                <h1>{{ category.get_translation().get_name() }}</h1>
                <p>{{ category.calculate_path(return_json = false) }}</p>
            </div>

        </div>
    </div> <!-- Vue App -->
{% endblock %}
