<div class="border-right w-100" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <a href="{{ url_for('bridge_dashboard_views.dashboard') }}">
            <img class="mb-4 img-fluid" width="200px" src="{{ url_for('static', filename='img/gc_logo.svg') }}" />
        </a>
    </div>
    <div class="list-group list-group-flush">

        <!-- Slide-Down für Bestellungen, Kunden, Artikel und Kategorien -->
        <div class="list-group-item list-group-item-action">
            <a href="#" data-bs-toggle="collapse" data-bs-target="#verwaltungMenu" aria-expanded="false">
                Verwaltung
            </a>
            <div id="verwaltungMenu" class="collapse">
                <a class="list-group-item" href="{{ url_for('bridge_order_views.orders') }}">
                    <span class="fa-solid fa-truck"></span> Bestellungen
                </a>
                <a class="list-group-item" href="{{ url_for('bridge_customer_views.customers') }}">
                    <span class="fa-regular fa-user"></span> Kunden
                </a>
                <a class="list-group-item" href="{{ url_for('bridge_views.products') }}">
                    <span class="fa-regular fa-box-open"></span> Produkte
                </a>
                <a class="list-group-item" href="{{ url_for('bridge_views.categories') }}">
                    <span class="fa-regular fa-tags"></span> Kategorien
                </a>
                <a class="list-group-item" href="{{ url_for('bridge_views.marketplaces') }}">
                    <span class="fa-regular fa-store"></span> Marktplätze
                </a>
            </div>
        </div>

        <!-- Einzelner Menüpunkt für Regeln -->
        <div class="list-group-item list-group-item-action">
            <a href="{{ url_for('bridge_views.rules') }}">
                Regeln
            </a>
        </div>

        <!-- Einzelner Menüpunkt für Einstellungen -->
        <div class="list-group-item list-group-item-action">
            <a href="#">Einstellungen</a>
        </div>

    </div>
</div>
