<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <a href="{{ url_for('bridge_views.dashboard') }}">GC-Bridge</a>
    </div>
    <div class="list-group list-group-flush">

        <!-- Slide-Down für Bestellungen, Kunden, Artikel und Kategorien -->
        <div class="list-group-item list-group-item-action">
            <a href="#" data-bs-toggle="collapse" data-bs-target="#verwaltungMenu" aria-expanded="false">
                Verwaltung
            </a>
            <div id="verwaltungMenu" class="collapse">
                <a class="list-group-item" href="#">Bestellungen</a>
                <a class="list-group-item" href="#">Kunden</a>
                <a class="list-group-item" href="{{ url_for('bridge_views.products') }}">Produkte</a>
                <a class="list-group-item" href="{{ url_for('bridge_views.categories') }}">Kategorien</a>
                <a class="list-group-item" href="{{ url_for('bridge_views.marketplaces') }}">Marktplätze</a>
            </div>
        </div>

        <!-- Einzelner Menüpunkt für Regeln -->
        <div class="list-group-item list-group-item-action">
            <a href="{{ url_for('bridge_views.rules') }}">Regeln</a>
        </div>

        <!-- Einzelner Menüpunkt für Einstellungen -->
        <div class="list-group-item list-group-item-action">
            <a href="#">Einstellungen</a>
        </div>

    </div>
</div>
