<div id="view_online">
    {% include 'mail/_includes/view_online.mjml' %}
</div>
<div id="header_logo">
    {% include 'mail/_includes/header_logo.mjml' %}
</div>
<div id="subheader">
    {% include 'mail/_includes/subheader.mjml' %}
</div>
<div id="salutation">
    {% include 'mail/_includes/salutation.mjml' %}
</div>
<div id="disclaimer">
    {% include 'mail/_includes/disclaimer.mjml' %}
</div>
<div id="head">
    {% include 'mail/_includes/head.mjml' %}
</div>
<!-- The next line was commented out previously -->
<div id="order_form_product">
    {#% include 'mail/_includes/order_form_product.mjml' %#}
</div>
<div id="contact_table_green">
    {% include 'mail/_includes/contact_table_green.mjml' %}
</div>
<div id="header_acryl_logo">
    {% include 'mail/_includes/header_acryl_logo.mjml' %}
</div>
<div id="contact_table">
    {% include 'mail/_includes/contact_table.mjml' %}
</div>
<!-- The next line was commented out previously -->
<div id="product_green">
    {#% include 'mail/_includes/product_green.mjml' %#}
</div>
<div id="nav_items_shop_green">
    {% include 'mail/_includes/nav_items_shop_green.mjml' %}
</div>
<div id="blog_acymailing">
    {% include 'mail/_includes/blog_acymailing.mjml' %}
</div>
<div id="nav_items_shop">
    {% include 'mail/_includes/nav_items_shop.mjml' %}
</div>
<div id="view_online">
    {% include 'mail/_includes/view_online.mjml' %}
</div>
<div id="subheader_green">
    {% include 'mail/_includes/subheader_green.mjml' %}
</div>
<div id="certs_logo_green">
    {% include 'mail/_includes/certs_logo_green.mjml' %}
</div>
<!-- The next line was commented out previously -->
<div id="product">
    {#% include 'mail/_includes/product.mjml' %#}
</div>
<div id="styles">
    {% include 'mail/_includes/styles.mjml' %}
</div>
<div id="title_img">
    {% include 'mail/_includes/title_img.mjml' %}
</div>
<!-- The next line was commented out previously -->
<div id="order_form_product_green">
    {#% include 'mail/_includes/order_form_product_green.mjml' %#}
</div>
<div id="title_txt">
    {% include 'mail/_includes/title_txt.mjml' %}
</div>
<div id="head_green">
    {% include 'mail/_includes/head_green.mjml' %}
</div>
<div id="header_logo">
    {% include 'mail/_includes/header_logo.mjml' %}
</div>