<div class="card mb-4">
    <div class="card-header">
        Bilder
    </div>
    <div class="card-body">
        <div id="productImagesCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for assoc in product.media_assocs %}
                    <div class="carousel-item {{ 'active' if loop.first }}">
                        <img class="d-block w-100"
                             src="{{ assets_img_path }}/{{ assoc.media.file_name }}.{{ assoc.media.file_type }}"
                             alt="Bild {{ loop.index }}">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#productImagesCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Vorheriges</span>
            </a>
            <a class="carousel-control-next" href="#productImagesCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Nächstes</span>
            </a>
        </div>
    </div>
</div>
