<div class="card mb-4">
    <div class="card-header">
        {{ assoc.marketplace.name }} | ID:{{ assoc.price.id }} | Faktor: {{ assoc.marketplace.factor }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card-body">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>
                        Einheit pro {{ assoc.product.unit }}
                    </th>
                    <th>
                        Preis
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Bis {{ assoc.price.rebate_quantity }}
                    </td>
                    <td>
                        {{ assoc.price.price }}€
                    </td>
                </tr>
                <tr>
                    <td>
                        Ab {{ assoc.price.rebate_quantity + product.purchase_unit }} {{ assoc.product.unit }}
                    </td>
                    <td>
                        {{ assoc.price.rebate_price }}€
                    </td>
                </tr>
                </tbody>
                {% if assoc.price.special_price %}
                    <tfoot>
                    <tr>
                        <td>
                            {{ assoc.price.special_price }}
                        </td>
                        <td>
                            {{ special_start_date }}<br/>
                            -<br/>
                            {{ special_end_date }}
                        </td>
                    </tr>
                    </tfoot>
                {% endif %}
            </table>
            </div>
        </div>
    </div>
</div>