{% extends "base.html" %}
{% block html_title %} GC-Bridge - Kategorien {% endblock %}
{% block h1 %} Produkte {% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Produkte</h1>
        </div>
    </div>

    <!-- Search Bar -->
    <div class="col">
        {% include '_includes/_search.html' %}
    </div>


    <div class="row">
        <div class="col">
            <table class="table table-responsive table-striped table-bordered">
                <thead>
                <tr>
                    <th>Index</th>
                    {% for language_code in ['DE_de'] %} <!-- Add more language codes as needed -->
                        <th scope="col">Name ({{ language_code }})</th>
                        <th scope="col">Description ({{ language_code }})</th>
                    {% endfor %}
                    <th scope="col">Images</th>
                    <th scope="col">Preise</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        {% for language_code in ['DE_de'] %} <!-- Add more language codes as needed -->
                            <td><a href="{{ url_for('bridge_product_views.product', id=product.id) }}">
                                {{ product.get_translation(language_code).name }}
                            </a>
                            </td>
                            <td>{{ product.get_translation(language_code).description | safe }}</td>
                        {% endfor %}

                        <td>
                            {% for img in product.media %}
                                {{ loop.index }} {{ img.file_name }}.{{ img.file_type }}<br>
                            {% endfor %}
                        </td>
                        <td>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% with items=products %}
                {% include '_includes/_pagination.html' %}
            {% endwith %}
        </div>
    </div>

{% endblock %}

