{% extends "base.html" %}
{% block html_title %} GC-Bridge - Kategorien {% endblock %}
{% block h1 %} Produkte {% endblock %}

{% block body %}
    <div class="row">
    <div class="col">
        <h1>Produkte</h1>
    </div>

    </div>

    <div class="row">
    <div class="col">
        <table class="table table-responsive table-striped table-bordered">
            <thead>
            <tr>
                <th>Index</th>
                <th scope="col">ERP Nr</th>
                {% for language_code in ['DE_de', 'GB_en'] %} <!-- Add more language codes as needed -->
                    <th scope="col">Name ({{ language_code }})</th>
                    <th scope="col">Description ({{ language_code }})</th>
                {% endfor %}
                <th scope="col">Images</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ product.erp_nr }}</td>
                    {% for language_code in ['DE_de', 'GB_en'] %} <!-- Add more language codes as needed -->
                        <td>{{ product.get_translation(language_code).name }}</td>
                        <td>{{ product.get_translation(language_code).description | safe }}</td>
                    {% endfor %}

                    <td>
                        {% for img in product.media %}
                            {{ loop.index }} {{ img.file_name }}.{{ img.file_type }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Navbar für Pagination und Ergebnisse pro Seite -->
            <nav class="navbar navbar-expand-lg bg-primary">
                <div class="container-fluid">
                    <!-- Pagination Controls -->
                    <ul class="pagination">
                        <li class="page-item {% if not products.has_prev %}disabled{% endif %}">
                            <a class="page-link" href="?page=1">First</a>
                        </li>
                        <li class="page-item {% if not products.has_prev %}disabled{% endif %}">
                            <a class="page-link" href="?page={{ products.prev_num }}">&laquo; Previous</a>
                        </li>
                        {% for num in products.iter_pages() %}
                            <li class="page-item {% if num == products.page %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if not products.has_next %}disabled{% endif %}">
                            <a class="page-link" href="?page={{ products.next_num }}">Next &raquo;</a>
                        </li>
                        <li class="page-item {% if not products.has_next %}disabled{% endif %}">
                            <a class="page-link" href="?page={{ products.pages }}">Last</a>
                        </li>
                    </ul>
                    <!-- Results per page -->
                    <form class="d-flex" action="" method="get">
                        <label for="perPage" class="nav-link">Ergebnisse pro Seite:</label>
                        <select id="perPage" name="per_page" class="form-select from-select-sm" onchange="this.form.submit()">
                            <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                            <option value="25" {% if per_page == 25 %}selected{% endif %}>25</option>
                            <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                            <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
                        </select>
                    </form>
                    <!-- Pagination Page Jump -->
                    <form class="d-flex" action="" method="get">
                        <input type="number" name="page" class="form-control me-2" placeholder="Seite" min="1" max="{{ products.pages }}" required>
                        <button type="submit" class="btn btn-outline-primary btn-sm">Gehe zu</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

{% endblock %}

