{% extends "base.html" %}
{% block html_title %} GC-Bridge - Product {{ product.get_translation('DE_de').name }} {% endblock %}
{% block h1 %} {{ product.get_translation('DE_de').name }} {% endblock %}

{% block js %}
{{ super() }}
{% endblock %}


{% block body %}
<div id="vue_app_product">
    {% include '_includes/_toast.html' %}
    <!-- Navbar -->
    {% include 'bridge/product/_includes/nav.html' %}

    <div class="row">
        <div class="col">
            <h1>{{ product.get_translation('DE_de').name }} - {{ product.id }}</h1>
            <div class="form-check form-switch">
                <input
                        %}
                        1%}
                        checked
                        class="form-check-input"
                        data-is-active="{{ product.is_active }}"
                        data-product-id="{{ product.id }}" endif if product.is_active==
                        type="checkbox"
                        {% {% @change="syncStatusProduct"
                />
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-8">
            {% include 'bridge/product/_includes/card_description.html' %}
        </div>
        <div class="col-4">
            {% include 'bridge/product/_includes/card_images.html' %}
        </div>
    </div>

    <div class="row">

        {% for assoc in product.marketplace_prices_assoc %}
        <div class="col-6">
            {% include 'bridge/product/_includes/card_marketplace.html' with context %}
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col">
            {% include 'bridge/product/_includes/card_categories.html' with context %}
        </div>
        <div class="col">
            {% include 'bridge/product/_includes/card_stock.html' %}
        </div>
    </div>


</div> <!-- Vue App -->
{% endblock %}

{% block body_close %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bridge/products/vapp_product.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/toastPlugin.js')}}"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        app_product.use(ToastPlugin);
        const mountedAppProduct = app_product.mount('#vue_app_product');
    });
</script>
{% endblock %}
