{% extends "base.html" %}
{% block html_title %} GC-Bridge - Product {{ product.get_translation('DE_de').name }} {% endblock %}
{% block h1 %} {{ product.get_translation('DE_de').name }} {% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div id="vue_bridge_products_product">
        <div class="row">

            <div class="col">
                <h1>{{ product.get_translation('DE_de').name }}</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-8">
                {% include 'bridge/product/_includes/card_description.html' %}
            </div>
            <div class="col-4">
                {% include 'bridge/product/_includes/card_images.html' %}
            </div>
        </div>

        <div class="row">
            {% for assoc in product.marketplace_prices_assoc %}
                <div class="col">
                    {% include 'bridge/product/_includes/card_prices.html' with context %}
                </div>
            {% endfor %}
        </div>
        {% include 'bridge/product/_includes/card_stock.html' %}

        <div class="row">
            <div class="col">
                {% include 'bridge/product/_includes/card_categories.html' with context %}
            </div>
        </div>
    </div> <!-- Vue App -->
{% endblock %}

{% block body_close %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bridge/products/product.js') }}"></script>
    <script>
        const mountedApp = app.mount('#vue_bridge_products_product');
    </script>
{% endblock %}
